.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 10px;
}

#loginform {
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 25px;
}

#headerTitle {
  text-align: center;
  font-family: "open sans", sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
}

.row input {
  width: 80%;
  box-sizing: border-box;
  border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.esqueceu-senha {
  font-weight: 600;
  font-size: small;
  align-self: end;
  padding-right: 2rem;

}
.row input:focus {
  box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
  outline: none;
}

.row input::-webkit-input-placeholder {
  font-size: initial;
  align-self: center;
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.row {
  font-size: large;
  font-weight: 600;

  .label-login {
    align-self: start;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
    color: rgba(187, 187, 187, 0.972);
  }
}

.row button {
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34, 193, 195);
  background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row button:hover {
  opacity: 0.8;
}

.forgot-senha:hover {
       opacity: 0.5;
  
}

.label-forgot-senha {
  padding-bottom: 15px !important;
}

#button {
  padding-bottom: 1.5rem;
}

.footer {
  position: relative;
  padding-bottom: 0;
  width: 100%;
  opacity: 60%;
  padding-top: 20px;
}

.validation {
  border-radius: 16px;
  padding-left: 20px;
  font-family: "Lato";
  display: flex;
  p {
    width: 270px;
    margin-bottom: -15px;
    margin-top: revert;
    color: #822a2a;
    font-weight: 500;
    background-color: #f9abab;
    border-radius: 24px;
    text-align: center;
  }

  &.sucess {
    p {
      width: 100% !important;
      color: rgb(0, 0, 0) !important;
      background-color: rgba(0, 139, 139, 0.692) !important;
    }
  }
}

.right {
  .floated {
    .content {
      margin: 8px 0 0 1em;
    }
  }
}

.ui.circular {
  width: 150px;
}

.general-background {
  background-color: rgba(0, 0, 0, 0.2) !important;
  label,
  p,
  h3 {
    color: white !important;
  }
  // filter: blur(2px);

  &.ajusteColuna {
    display: inline-flex;

    button {
      margin-bottom: 20px;
    }
  }
}

.general-title {
  font-family: "Lato";
  font-size: x-large !important;
  -webkit-text-stroke: thin;
}

.myButon {
  // background-color: rgba(0, 0, 0, .15) !important;
  h3 {
    color: black !important;
  }
  width: 160px !important;
  // height: 30px;
  // border-radius: 10px;
  display: flex;
  align-content: space-around;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;

  border-radius: 25px;
  // width: 100%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34, 193, 195);
  background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  border: 2px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}
